* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

#container {
  width: 650px;
  border-top: 14px solid #395756;
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 480px;
  float: left;
  position: relative;
}
header {
  background-color: #a67db8;
  margin-bottom: 18px;
}
header h1 {
  float: left;
  padding: 14px 0;
  color: #222;
}

header nav {
  float: right;
  padding: 24px;
}
.clear {
  clear: both;
}

header h1::first-letter {
  font-size: 26px;
  margin-left: 12px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding-left: 6px;
  margin-left: 12px;
}

/* LVHA */
header nav ul li a:link,
a:active {
  text-decoration: none;
  color: #fff;
}
header nav ul li a:hover,
a:visited {
  text-decoration: underline;
  color: #000;
}

aside {
  width: 150px;
  float: right;
  background-color: rgb(234, 232, 232);
}
aside section article {
  margin-bottom: 2px;
}
aside section article:last-child {
  margin-bottom: 0;
}
aside h4 {
  background-color: #a67db8;
  text-align: center;
  color: #fff;
  padding: 12px 0;
}
aside img {
  width: 50px;
  float: left;
}
aside a:link {
  font-size: 12px;
  float: left;
  padding-top: 18px;
  margin-left: 12px;
  color: #000;
  text-decoration: none;
}
footer {
  border-bottom: 14px solid #395756;
  clear: both;
  padding-top: 24px;
}

.author-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}
.author-info p {
  margin-left: 12px;
  float: left;
  padding-top: 40px;
}
.big-img {
  width: 100%;
  height: 200px;
  margin: 24px 0;
}

h2 {
  margin-bottom: 12px;
}
p {
  margin-bottom: 8px;
}

.html-lists li {
  margin-bottom: 6px;
  margin-left: 36px;
}

.html-lists li:last-child {
  margin-bottom: 0;
}

.like {
  position: absolute;
  bottom: 0px;
  right: -100px;
  background-color: #fff;
  padding: 8px 12px;
  border: none;
}

.like:hover {
  background-color: yellow;
}
.like::first-letter {
  color: red;
  font-size: 18px;
  padding: 2px;
}
main h1 {
  margin-bottom: 18px;
  text-transform: uppercase;
}
main h1::after {
  content: "TOP";
  background-color: yellow;
  font-size: 14px;
  font-weight: 600;
  top: -12px;
  right: -6px;
  position: absolute;
}
